.testcss {
    background: black;
}

.blur {
    z-index: 100;
    filter: blur(2px);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.makeTransparent {
    flood-opacity: 0;
    outline-color: rgba(0, 0, 0, 100);
}